*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1260px;
    margin: auto;
}


li{
    cursor: pointer;
    display: flex;
    text-decoration: none;
    list-style: none;
}

a{
    cursor: pointer;
    color: black;
    display: inline-block;
	text-decoration: none;
}

span {
	display: inline-block;
}

img {
	max-width: 100%;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.col-3 {
	width: 25%;
}

.col-6 {
    width: 50%;
}

.col-9 {
	width: 75%;
}