*{
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1260px;
}


li{
    cursor: pointer;
    display: flex;
    text-decoration: none;
    list-style: none;
}

a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}